.BT{
    display: block;
    width: 90%;
    padding: 0.3em;
    border: 0.3px solid #999;
    box-sizing: border-box;
    margin: auto;
}

.t1{
    display: block;
    width: 90%;
    padding: 0.1em;
    border: 0px solid #999;
    box-sizing: border-box;
    margin: auto;
}

.t2{
    display: block;
    width: 90%;
    padding: 0.1em;
    border: 0.1px solid #999;
    box-sizing: border-box;
    margin: auto;
}

table{
    margin:auto;
}

input:focus, select:focus, textarea:focus {
    background-color: #bde9ba;
}

html, body {padding: 0; margin: 0} html, body, 

#map {height: 100%; width: 100%;}
    .icon1 {width: 15px !important;height: 15px !important;border-radius: 15px;border: 3px solid #fdfdfd;box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);background-color: rgb(255, 25, 147);}
    .icon2 {width: 15px !important;height: 15px !important;border-radius: 15px;border: 3px solid #fdfdfd;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);background-color: rgb(128, 128, 136);}
    .icon3 {width: 15px !important;height: 15px !important;border-radius: 15px;border: 3px solid #fdfdfd;box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);background-color: rgb(0, 0, 255);}


.open {
	cursor:pointer; /* マウスオーバーでカーソルの形状を変えることで、クリックできる要素だとわかりやすいように */
}
#pop-up {
	display: none; /* label でコントロールするので input は非表示に */
}
#pop-up2 {
	display: none; /* label でコントロールするので input は非表示に */
}
.overlay {
	display: none; /* input にチェックが入るまでは非表示に */
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 340px;
	height: 340px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.text {
	font-size: 18px;
	margin: 0;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}

#pop-up2:checked + .overlay {
	display: block;
	z-index: 9999;
	background-color: #00000070;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}


